<a href="https://colab.research.google.com/github/dygwon/ds-term-project/blob/main/eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis

### Questions for the professor
*   is NaN for no_of_children mean no children or the information doesn't exist?

### Relationships considered
*   price vs. redeemed
*   dscnt_store vs. redeemed
*   age_cohort vs. redeemed
*   marital_status vs. redeemed
*   home_is_rental vs. redeemed
*   n_family vs. redeemed
*   no_of_children vs. redeemed
*

In [8]:
# mount Google Drive to access .csv files
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
# Follow steps below so you don't have to manually upload data everytime your runtime times out
# Navigate to Google Drive --> Locate the 'ds-project' folder --> right click and select "Add shortcut to Drive"

In [10]:
import pandas as pd
import matplotlib.pylab as plt

%matplotlib inline

In [16]:
folder_path            = './drive/MyDrive/ds-project/data/'

all_csv                = 'all-transactions-train.csv'
redeemed_csv           = 'code-redeemed-train.csv'
demo_csv               = 'demo_train.csv'
demog_csv              = 'demog_train.csv'
products_csv           = 'products-train.csv'
promo_prod_mapping_csv = 'promo-cd-2-prod-mapping-train.csv'
promos_csv             = 'promotional_campaigns-train.csv'

In [17]:
# create dataframes
all_df                = pd.read_csv(folder_path + all_csv)
redeemed_df           = pd.read_csv(folder_path + redeemed_csv)
demo_df               = pd.read_csv(folder_path + demo_csv)
demog_df              = pd.read_csv(folder_path + demog_csv)
products_df           = pd.read_csv(folder_path + products_csv)
promo_prod_mapping_df = pd.read_csv(folder_path + promo_prod_mapping_csv)
promos_df             = pd.read_csv(folder_path + promos_csv)

In [18]:
all_df.head()

         date  cust_id  prod_id  qty   price  dscnt_store  dscnt_pcode  year
0  2012-01-02     1501    26830    1   35.26       -10.69          0.0  2012
1  2012-01-02     1501    54253    1   53.43       -13.89          0.0  2012
2  2012-01-02     1501    31962    1  106.50       -14.25          0.0  2012
3  2012-01-02     1501    33647    1   67.32         0.00          0.0  2012
4  2012-01-02     1501    48199    1   71.24       -28.14          0.0  2012

In [19]:
redeemed_df.head()

   redemption_id  c_id  pcode_id  cust_id  redeemed
0             15    29       538      368         0
1             17    30       857      523         0
2             19     2       559      679         0
3             32    30       320     1255         0
4             39    26       326       63         0

In [20]:
demo_df.head()

,cust_id,age_cohort,marital_status,home_is_rental,n_family,no_of_children,income_range
0,1,70+,Married,0,2,NaN,4
1,6,46-55,Married,0,2,NaN,5
2,7,26-35,NaN,0,3,1,3
3,8,26-35,NaN,0,4,2,6
4,10,46-55,Single,0,1,NaN,5

In [21]:
demog_df.head()

,cust_id,age_cohort,marital_status,home_is_rental,n_family,no_of_children,income_range
0,1,70+,Married,0,2,NaN,4
1,6,46-55,Married,0,2,NaN,5
2,7,26-35,NaN,0,3,1,3
3,8,26-35,NaN,0,4,2,6
4,10,46-55,Single,0,1,NaN,5

In [22]:
products_df.head()

   prod_id  manuf   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

In [23]:
promo_prod_mapping_df.head()

   c_id  prod_id
0   105       37
1   107       75
2   494       76
3   522       77
4   518       77

In [25]:
promos_df.head()

   c_id c_type start_date  end_date  start_year  end_year
0     3      Y   22/12/12  16/02/13        2012      2013
1     1      Y   12/12/12  18/01/13        2012      2013
2     2      Y   17/12/12  18/01/13        2012      2013
3    30      X   19/11/12  04/01/13        2012      2013
4    29      Y   08/10/12  30/11/12        2012      2012